header {
	background-color: white;
	box-sizing: border-box;
	padding-left: 20px;
	height: 70px;
	width: 100%;

	border-bottom: 1px solid #CCCCCC;
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: stretch;
}

.logo {
			/*margin-left: 20px;*/
			background: url("../images/logo.png");
			background-repeat: no-repeat;
			background-size: 75%;
			background-position: left center;
}